PORT=3444
GENIUS_ACCESS_TOKEN=
MUSIXMATCH_TOKEN=
MELON_COOKIE=
MR_MAGIC_EXPORT_BACKEND=local|inline|redis
MR_MAGIC_EXPORT_DIR=/absolute/path/to/exports
MR_MAGIC_EXPORT_TTL_SECONDS=3600
MR_MAGIC_DOWNLOAD_BASE_URL=https://yourserver.com|http://localhost:GIVEN_PORT
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
MR_MAGIC_TMP_DIR=/tmp/
MR_MAGIC_QUIET_STDIO=0